@page "/"

<div class="root">
	<RazorUI.表单.FormTable HeadBorderBottom="unset">
		<Body>
			<Icon.Terminal></Icon.Terminal>
			<div>终端</div>

			<Icon.Database></Icon.Database>
			<div>数据库</div>
		</Body>
	</RazorUI.表单.FormTable>
</div>
