@page "/commom/home"

<div>
	<RazorUI.表单.FormTable HeadBorderBottom="unset">
		<Body>
			<Icon.Terminal></Icon.Terminal>
			<div>终端</div>

			<Icon.Database></Icon.Database>
			<div>数据库</div>

			<Icon.TrashCan></Icon.TrashCan>
			<div>垃圾桶</div>

			<Icon.Help></Icon.Help>
			<div>帮助</div>

			<Icon.Brain></Icon.Brain>
			<div>大脑</div>

			<Icon.CodeAnalysis></Icon.CodeAnalysis>
			<div>代码分析</div>
		</Body>
	</RazorUI.表单.FormTable>
</div>
